body: {
  background-color: red
}

#add-spell-button{
  position: fixed;
  bottom: 10px;
}

#search-container span{
  display: block;
}

.description-cell{
  display: block;
}

body{
  background-color: #f1e7cd;
  color: #142a4c;
}

button {
    background-color: #901a19;
    color: #f1e7cd;
    border-color: #142a4c;
    border-radius: 10px;
    border: 0px solid #000000;
}
