:root{
  --main-color: #f1e7cd;
  --tint-one: #142a4c;
  --tint-two: #901a19;
  --minimized-list-item-height: 30px;
  --minimized-list-item-button-edge: 2px;
}

body: {
  background-color: red
}

.plus-image-button{
  vertical-align: top;
}

#search-container span{
  display: block;
}

#search-input{
  display: flex;
  align-items: center;
}

#search-container input[type="text"]{
  width: 75%;
  min-width: 140px;
}

.description-cell{
  display: block;
}

body{
  background-color: var(--main-color);
  color: var(--tint-one);
}

button {
    background-color: var(--tint-two);
    color: var(--main-color);
    border-color: var(--tint-two);
    border-style: none;
}

#page-title{
  background-color: var(--tint-one);
  color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#page-title input[type="image"]{
  margin-left: auto;
}

.title-background{
  background-color: var(--tint-one);
  margin-bottom: 5px;
}

input[type="image"]{
  background-color: var(--tint-two);
}

.list-item-header{
  background-color: var(--tint-one);
  color: var(--main-color);
  height: var(--minimized-list-item-height);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.list-item-header>input[type="image"]{
  height: calc(100% - var(--minimized-list-item-button-edge) - var(--minimized-list-item-button-edge));
  margin: 2px;
}

.list-item-header>span{
  font-size: 1.7rem;
  margin-right: auto;
  margin-left: 10px;
}

#spell-list{
  height: calc();
  overflow-y: scroll;
}

#filter-settings-button{
  float: left;
}

/*Start Page*/

#start-input {
    width: 100%;
    max-width: 230px;
    font-size: 30px;
}

.styled-input{
  background-color: rgba(0, 0, 0, 0);
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: var(--tint-one);
  border-bottom-width: 5px;
  border-bottom-style: solid;
}

.styled-input:focus{
  outline: none;
}

#start-div{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.scroll-div{
  -webkit-transition: top 2.5s;
  transition: top 2.5s;
  -moz-transition: top 2.5s;
  position: relative;
  top: 0px;
}

#loading-image{
  display: block;
  margin: auto;
}
