:root{
  --main-color: #f1e7cd;
  --tint-one: #142a4c;
  --tint-two: #901a19;
  --minimized-spell-div-height: 35px;
  --minimized-spell-div-button-edge: 2px;
}

body: {
  background-color: red
}

#add-spell-button{
  position: fixed;
  bottom: 10px;
}

#search-container span{
  display: block;
}

.description-cell{
  display: block;
}

body{
  background-color: var(--main-color);
  color: var(--tint-one);
}

button {
    background-color: var(--tint-two);
    color: var(--main-color);
    border-color: var(--tint-two);
    border-style: none;
}

#page-title{
  background-color: var(--tint-one);
  color: var(--main-color);
}

input[type="image"]{
  background-color: var(--tint-two);
}

.minimized-spell-div{
  background-color: var(--tint-one);
  color: var(--main-color);
  height: var(--minimized-spell-div-height);
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  position: relative;
}

.minimized-spell-div>input[type="image"]{
  position: absolute;
  right: var(--minimized-spell-div-button-edge);
  height: calc(100% - var(--minimized-spell-div-button-edge) - var(--minimized-spell-div-button-edge));

}

.minimized-spell-div>span{
  font-size: 1.7rem;
}
